<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>M.Tong's Neverland</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">M.Tong's Neverland</a>
          <ul class="nav">
            <li class="active"><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="span9">
            <div class="preview">
            </div>
          </div>
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
              <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Recent Posts</a></li>
              <li><a href="#misc"><i class="icon-chevron-right"></i> Category</a></li>
              <li><a href="#misc"><i class="icon-chevron-right"></i> Archive</a></li>
            </ul>
          </div>
        </div>
      </div>
    </body>
  </html>
